<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC31DA421D886F7500E99EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC31DA591D886F7D00E99EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC31DA641D886F7E00E99EFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
